@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --dark-purple:rgb(64,15,69);
  --light-purple:rgb(137,60,145);
  --dark-green:rgb(44,69,21);
  --medium-green: rgb(100,145,60);
  --light-green:rgb(164,222,113,87);
  --text-color:rgb(66, 63, 63);
  font-size: 62.5%;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom,   rgba(255,255,255, 0.4),  rgba(255,255, 255, 0.4)),url('./img/background-borda.png');
  background-attachment: fixed;
  background-size:100%;
  color:var(--text-color);
  font-size:1.6rem;
}

.header {
  height: 80vh;
  width: 100%;
  padding-top:1rem;
  background-image: linear-gradient(to bottom, rgba(78, 19, 85, 0.829), #2c4515d2), url('./img/header.png');
  background-size: cover;
  background-position-y:100% ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
 
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 96%;
  height: 70%;
  border: 5px solid white;
  color: white;
}
  
.site-title {
  font-size: 5rem;
  font-weight: 400;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin-bottom: 0;
  padding: 0.2rem 0;
}
  
.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top:0.5rem;
}
  
.navbar {
  width: 100%;
  background-color: rgba(223, 223, 223, 0.4);  
  padding: 0.8rem;
  margin: 1rem 0;
}
  
.list {
  list-style: none;   
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0 auto;
}
  
.links {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.7rem;
}

.links:hover {
  color: var(--light-green);
  transition: .3s ease-in;
}

.movies-page{
  width: 100%; 
}

.page-title{
  align-self: flex-start;
  font-size: 3rem;
  font-weight: 900;
  color:var(--light-purple);
  margin: 0 0 2% 12%;
  line-height: normal;
}

.filter-div{
  display:flex;
  align-items:center;
  width:100%;
  justify-content: flex-end;
  margin-bottom:20px;
  margin-top: -20px;
  margin-left: 2rem;
}

.filter-label{
  font-size: 14px;
  color:var(--light-purple);
  margin-right: 5px;
}

.button-menu{
  border: none;
  background-color: white;
  font-weight: bolder;
}

.button-menu img{
  width:20px;
}

.button-menu:hover{
  cursor:pointer;
  color: var(--light-green);
  transition: .3s ease-in;
}

.sort-filter{
  display:flex;
  justify-content: flex-end;
  margin-bottom:2rem;
  flex-wrap: wrap;
  margin-right: 8%;
}

.filter-block{
  margin-left: 1rem;
  margin-bottom:1rem ;
 
}

.labelForm{
  display:block;
} 

.dropdown-menu {
  width:15rem;
  padding: 5px;
  margin:-5% 5%;
  outline: none;
  border: 1px solid var(--light-purple);
  color:var(--text-color);
  font-size: 1rem;
}

#order{
  display: none;
}

#filter{
  display: none;
}

.container-movies {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie{
  display:flex;
  width:100%;
  background-color: white;
  box-shadow: 0px 0px 14px 4px rgba(100,100,100,0.7); 
  padding:2rem;    
  box-sizing: border-box;   
  margin-bottom:3rem;    
  border-radius: 10px;     
}

.poster{
  width:20rem;
  border-radius:3%;
}

.movie-details{
  display: flex;
  flex-direction:column;
  padding-left: 2rem;
  width:100%;
}

.movie-poster-mobile{
  display:none;
}

.movie-headline{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.movie-title{
  color:var(--medium-green);
  font-size: 1.7rem;
  font-weight:800;
  text-transform: uppercase;
} 

.release-date{
  margin-bottom:2rem;
  font-size:1em;
  margin-bottom: 0;
}

.score{
  display:flex;
  align-items: center;
  height: 4rem;
  padding:0.5rem 2rem;
  background-color:rgba(0, 128, 0, 0.11);
  border-radius:10px;
  margin-bottom: 0;
}

.star {
  align-self:right;
  height: 2.5rem; 
}

.rt-score{
  font-size: 3rem;
  color:var(--light-purple);
  font-weight: bold;
  margin-left:1rem;
} 

.details{
  width:100%;
}

.detail-title{
  font-size:1.5rem;
  color:var(--light-purple);
  margin-top:2rem;
}

#synopsis-title{
  margin-top:0;
}

.detail-text{
  font-size: 1.1rem;
  margin-top:0.5rem;
  padding:0;
  text-align: justify;
}

.team{
  display:flex;
  flex-wrap:nowrap;
  width:40%;
  justify-content: space-between;
}

.images{
  display:flex;
  justify-content: space-around;
  height: 7rem;
  width:70%;
  align-items:center;
  object-fit: cover;
  padding-bottom:0;
}

.character-picture{
  height:5.5rem;
  width:5.5rem;
  border-radius: 20%;
  object-fit: cover;
}

.more-characters{
  width:7rem;
  display:flex;
  align-items: center;
  background-color: white;
  border:none;
  color:rgb(133, 129, 129);
  color:var(--light-purple);
  font-size:0.9rem;
  font-weight: bold;
}

.see-more{
  width:15%;
  margin-right:0.5rem;
}

.more-characters:hover{
  cursor:pointer;
} 

.modal-container{
  width:100vw;
  height:100vh;
  display:none;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.modal{
  width:50vw;
  height:auto;
  max-height: 80vh;
  background-color: white;
  padding:4rem;
  position:relative;
  border-radius: 10px ;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal {
  scrollbar-width: auto;
  scrollbar-color: gray white;
  scrollbar-3dlight-color: aquamarine;
}

.modal::-webkit-scrollbar {
  width: 12px;
  height: 50px;
}

.modal::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid white;
}

.modal-container.mostrar{
  display:flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform:translate3d(0, -60px, 0)
  }
  to {
    opacity: 1;
    transform:translate3d(0, 0, 0)
  }
}

.mostrar .modal{
  animation:modal .3s;
}

.modal-btn{
  position:absolute;
  top:0.5rem;
  right:0.5rem;
  width:4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.11);
  border:solid 4px white;
  font-size: 2rem;
  font-weight:bold;
  color: var(--light-purple);
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3)
}

.modal-title{
  color:var(--medium-green);
  margin-bottom:2rem;
}

.characters-container{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  padding:0 2rem;
}

.character{
  width:100%;
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align:center;
  margin:1rem 2rem;
}

.image-modal{
  height:8rem;
  width:8rem;
  border-radius: 20%;
  object-fit: cover;
}

.name-modal{
  font-size: 1.2rem;
  font-weight: bold;
  margin-left:2rem;
  color:var(--light-purple);
}

#google_translate_element{
  display:none;
}

.translate{
  display:flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.flag{
  width:6rem;
  height: 2.5rem;
  margin-top:0.5rem;
  padding:0 1rem
}

#portuguese{
  border-right:solid 1px var(--light-purple)
}

.footer {
  background-image: linear-gradient(to bottom, #2c4515d2, rgba(78, 19, 85, 0.829)), url('./img/header.png');
  width: 100%;
  height: 20rem;
}

.totoros {
  display: block;
  width: 15rem;
  text-align: center;
  margin: 5% auto;
  padding-top: 1%;
}

.footer p {
  display: block;
  margin: 0% auto;
  text-align: center;
  color: var(--light-green);
  padding: 0.5%;
}

.footer a {
  text-decoration: none;
  color: var(--light-green);
}

.footer a:hover {
  color: var(--lighter-purple);
  transition: .2s ease-in;
}

@media(min-width:1500px){
  :root{
    font-size:1rem;
  }

  .team{
    width:30%;
  }
  
  .images{
    width:60%;
  }

  .modal{
    width:60vw;
  }
}

@media(max-width:1500px){
  :root{
    font-size:0.8rem;
  }

  .images{
    width:70%;
  }
}

@media(max-width:1024px){
  .header{
    height:70vh;
    background-image: linear-gradient(to bottom, rgba(78, 19, 85, 0.829), #2c4515d2), url('./img/header-small.png'); 
  }

  .team{
    width:50%;
  }

  .detail-text{
    font-size: 1rem;
  }

  .images{
    width:90%;
  }

  .character-picture{
    width:5rem;
    height:5rem;
  }

  .picture-4{
    display:none;
  }

  .modal{
    width:60vw;
 }
}

@media(max-width:768px){
  :root{
    font-size:0.7rem;
  }

  .team{
    width:60%;
  }

  .images{
    width:100%;
  }

  .modal{
    width:70vw;
 }
}

@media(max-width:630px){
  :root{
    font-size:0.6rem;
  }
 
  .header{
    height:60vh;
  }

  .list {
    justify-content:space-between;
  }

  .links {
    font-size: 2rem;
  }

  .page-title{
    font-size:3.5rem;
  }

  .poster{
    display:none;
  }

  .movie{
    flex-direction: column;
    padding:2rem;
  }

  .movie-details{
    padding:0;
  }

  .master-details{
    display:flex;
    margin-bottom: 1rem;
  }

  .container-movie-header{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
  }

  .movie-poster-mobile{
    display:block;
    width:13rem;
    margin-right:2rem;
  }

  .poster-mobile{
    width:13rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 5%;
  }

   .poster-mobile:hover {
    margin-left:30vw;
	  transition: margin-left 0.1s linear;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
   }

  .container-title{
    margin-right:1rem;
    margin-bottom: 0;
  }

  .movie-title{
    font-size:2rem;
    margin-bottom:0.5rem;
  }
  
  .team{
    width:100%;
    flex-direction: column;
  }

  .images{
    height: 8rem;
    width:100%;
  }
  
  .character-picture{
    height:7rem;
    width:7rem;
  }
  
  .more-characters{
    width:7rem;
    font-size:1.1rem;
  }
  
  .see-more{
    width:17%;
    margin-right:0.2rem;
  }
  
  .detail-title{
    font-size:1.7rem;
    margin-top:0.7rem;
  }

  .detail-text{
    font-size:1.4rem;
    line-height: 1.8rem;
  }
}

@media(max-width:500px){
  :root{
    font-size: 0.5rem;
  }

  .header{
    height:50vh;
    background-image: linear-gradient(to bottom, rgba(78, 19, 85, 0.829), #2c4515d2), url('./img/header-small.png');
  }

  .title-container {
    height: 70%;
    border: 3px solid white;
  }
    
  .site-title {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .list {
    width: 90%;
    justify-content:space-between;
  }

  .sort-filter{
    margin-top:3rem;
  }

  .filter-label{
    font-size:1.6rem;
  }

  .button-menu img{
    width:15px;
  }

  .dropdown-menu {
    width:20rem;
  }

  .more-characters{
    width:7.5rem;
    font-size:1.2rem;
  }
  
  .see-more{
    width:18%;
    margin-right:0.2rem;
  }

  .detail-text{
    font-size:1.5rem;
    line-height: 2rem;
  }
}

@media(max-width:400px){
  :root{
    font-size: 0.4rem;
  }
  .header{
    height:35vh;
    background-image: linear-gradient(to bottom, rgba(78, 19, 85, 0.829), #2c4515d2), url('./img/header-mobile.png');
  }

  .images{
    height: 9rem;
    width:100%; 
  }

  .character-picture{
    height:6rem;
    width:6rem;
  }

  .picture-4{
    display:block;
  }
}